%h1= @open_type_font.name
%p
  = link_to t('compile'), compile_open_type_font_path(@open_type_font)
  = link_to t('edit'), edit_open_type_font_path(@open_type_font)

#font-tabs
  %ul
    %li= link_to content_tag(:span,"Features"), "#feature-list"
    %li= link_to content_tag(:span, "Classes"), open_type_font_otf_classes_path(@open_type_font)
    %li= link_to content_tag(:span, "Glyphs"), open_type_font_otf_glyphs_path(@open_type_font)

  #feature-list
    .feature-lookups
      - @open_type_font.features.each do |feature|      
        - unless feature.lookups.empty?          
          %h3= link_to (feature.title || feature.name), '#'
          %div 
            .edit
              = link_to t('edit'), edit_open_type_font_otf_feature_path(@open_type_font, feature)
              = link_to "Add New Lookup", new_otf_lookup_path(:feature => feature)
            %ul
              - feature.lookups.each do |lookup|
                %li= link_to "#{lookup.name} : #{lookup.description}", lookup
