%h1= @open_type_font.name
%p
  = link_to t('compile'), compile_open_type_font_path(@open_type_font)
  = link_to t('edit'), edit_open_type_font_path(@open_type_font)

#font-tabs
  %ul
    %li= link_to content_tag(:span,"Features"), open_type_font_otf_features_path(@open_type_font)
    %li= link_to content_tag(:span, "Classes"), open_type_font_otf_classes_path(@open_type_font)
