%h1= "Lookup: %s" % (@otf_lookup.name || @otf_lookup.feature.name)
%p
  = link_to t('back'), otf_lookups_path
  = link_to t('edit'), edit_otf_lookup_path(@otf_lookup)

%dl
  %dt= OtfLookup.human_attribute_name :feature_id
  %dd= @otf_lookup.feature.name
  %dt= OtfLookup.human_attribute_name :name
  %dd= @otf_lookup.name
  %dt= OtfLookup.human_attribute_name :flag
  %dd= @otf_lookup.flag

%table
  - @otf_lookup.otf_lookup_rows.each do |row|
    %tr
      - row.lookup_classes.each do |klass|
        %td{:class => klass.kind}
          - if klass.otf_class.name
            = klass.otf_class.name
          - else
            %table
              - klass.otf_class.otf_glyphs.each do |glyph|
                %tr
                  %td= image_tag("/system/glyphs/#{glyph.name}.png")
                  %td= glyph.name
