%h1= @otf_class.name
%p
  = link_to t('back'), otf_classes_path
  = link_to t('edit'), edit_otf_class_path(@otf_class)

%table
  - @otf_class.otf_glyphs.each do |glyph|
    %tr
      %td= image_tag("/system/glyphs/#{glyph.name}.png")
      %td= glyph.name
