%h1= "%s : %s" % [@otf_class.name, @otf_class.title]
%p= @otf_class.description
%p
  = link_to t('edit'), edit_open_type_font_otf_class_path(@otf_class.open_type_font, @otf_class)

%table
  - @otf_class.otf_glyphs.each do |glyph|
    %tr
      %td= image_tag(glyph.path)
      %td= glyph.name
