%h1= t('.title')
%p= link_to t('.new_otf_glyph'), new_otf_glyph_path

%table
  %thead
    %tr
      %th= OtfGlyph.human_attribute_name :name
      %th= OtfGlyph.human_attribute_name :image
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for otf_glyph in @otf_glyphs
      %tr{ :class => cycle(:odd, :even) }
        %td= otf_glyph.name
        %td= otf_glyph.image
        %td.action= link_to t('show'), otf_glyph
        %td.action= link_to t('edit'), edit_otf_glyph_path(otf_glyph)
        %td.action= link_to t('destroy'), otf_glyph, :confirm => t('are_you_sure'), :method => :delete
