.action= link_to "Create new Glyph", new_open_type_font_otf_glyph_path(@font)

%table#glyph-list
  - for glyph in @otf_glyphs
    %tr
      %td= image_tag(glyph.path)
      %td= glyph.name
      %td= link_to t('edit'), edit_open_type_font_otf_glyph_path(@font, glyph)
      %td= link_to t('destroy'), open_type_font_otf_glyph_path(@font, glyph), :confirm => t('are_you_sure'), :method => :delete
