%h1
  = image_tag @otf_glyph.path
  = @otf_glyph.name
%p
  = link_to t('back'), @font
  = link_to t('edit'), edit_open_type_font_otf_glyph_path(@font, @otf_glyph)

%h3 Used Lookups

%ul
  - @otf_glyph.otf_classes.map{|c| c.otf_lookups}.flatten.uniq.each do |lookup|
    %li= link_to lookup.name, lookup

%h3 Used Classes
%ul
  - @otf_glyph.otf_classes.named.each do |klass|
    %li= link_to klass.name, [@font, klass]