%tr{:id => "comment-#{comment.id}"}
  %td= comment.user.name
  %td= comment.created_at
%tr
  %td.avatar= image_tag raw( comment.user.gravatar_url(:size => 60) )
  %td.comment= simple_format comment.comment