%h2
  Хувилбар:
  = @file.version
  (
  %span.correct{:title => "Correct examples count"}= @file.correct_count
  \/
  %span.wrong{:title => "Wrong examples count"}= @file.incorrect_count
  )
  %span.download  
    - if @file.has_source?
      = link_to "Source", source_url(@file)
    - if @file.has_binary?
      = link_to "Binary", binary_url(@file)
      / .message= @file.compile_message

%table.rendered-examples
  %tr
    %th{:width => "1%"}
    %th Unicode<br/>text
    %th Rendered<br/>Image
    %th Correct<br/>Image
    %th Cyrillic
  = render :partial => 'rendered_examples/rendered', :collection => @file.rendered_examples

= form_for [@font, @file], :remote => true do |f|
  = f.submit 'Render Examples', :disable_with => "Wait. It will take time..."
