= form_for [@font, @otf_unicode], :remote => true do |f|
  %table
    %tr
      %td.hex= f.text_field :hex
      %td.name= f.text_field :name
      %td.desc= f.text_field :description
      %td{:colspan => 3}= f.submit "Save"
