%p= link_to 'Add New Unicode', new_open_type_font_otf_unicode_path(@font)

%table.unicodes
  %thead
    %tr
      %th= OtfUnicode.human_attribute_name :glyph
      %th
        %table
          %tr
            %th.hex= OtfUnicode.human_attribute_name :hex
            %th.name= OtfUnicode.human_attribute_name :name
            %th.description= OtfUnicode.human_attribute_name :description
            %th{:colspan => 3}
  
  %tbody
    - for otf_unicode in @otf_unicodes
      %tr{ :class => cycle(:odd, :even), :id => "unicode-#{otf_unicode.id}" }
        %td.glyph= image_tag otf_unicode.path
        %td.editable= render :partial => 'unicode', :object => otf_unicode 
          