
%table.unicodes
  %thead
    %tr
      %th= OtfUnicode.human_attribute_name :glyph
      %th
        %table
          %tr
            %th.hex= OtfUnicode.human_attribute_name :hex
            %th.name= OtfUnicode.human_attribute_name :name
            %th.description= OtfUnicode.human_attribute_name :description
            %th{:colspan => 2}
  
  %tbody
    %tr#unicode-adder
      %td Add:
      %td.editable= render :partial => 'edit'
    - for otf_unicode in @otf_unicodes
      - unless otf_unicode.new_record?
        %tr{ :class => cycle(:odd, :even), :id => "unicode-#{otf_unicode.id}" }
          %td.glyph= image_tag otf_unicode.path
          %td.editable= render :partial => 'unicode', :object => otf_unicode 
          