%p= link_to 'Add New Unicode', new_open_type_font_otf_unicode_path(@font)

%table
  %thead
    %tr
      %th= OtfUnicode.human_attribute_name :glyph
      %th= OtfUnicode.human_attribute_name :hex
      %th= OtfUnicode.human_attribute_name :name
      %th{:colspan => 3}
  
  %tbody
    - for otf_unicode in @otf_unicodes
      %tr{ :class => cycle(:odd, :even) }
        %td= image_tag otf_unicode.path
        %td= otf_unicode.hex
        %td= otf_unicode.name
        %td.action= link_to t('show'), [@font, otf_unicode]
        %td.action= link_to t('edit'), ""
        %td.action= link_to t('destroy'), [@font, otf_unicode], :confirm => t('are_you_sure'), :method => :delete
