%h1= t '.title'
%p
  = link_to t('back'), @font
  = link_to t('edit'), edit_open_type_font_otf_unicode_path(@font, @otf_unicode)

= image_tag @otf_unicode.path
%dl
  %dt= OtfUnicode.human_attribute_name :hex
  %dd= @otf_unicode.hex
  %dt= OtfUnicode.human_attribute_name :dec
  %dd= @otf_unicode.dec
  %dt= OtfUnicode.human_attribute_name :name
  %dd= @otf_unicode.name
  %dt= OtfUnicode.human_attribute_name :description
  %dd= @otf_unicode.description
