= form_for [@font, @otf_feature] do |f|
  - if @otf_feature.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@otf_feature.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @otf_feature.errors.full_messages.each do |msg|
        %li= msg
  
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :script
    %br
    = f.text_field :script
  .field
    = f.label :title
    %br
    = f.text_field :title

  .actions
    = f.submit
