.action= link_to "New feature", new_open_type_font_otf_feature_path(@font)

#feature-list
  - @font.features.each do |feature|
    - unless feature.lookups.empty?
      %h2 
        = feature.title || feature.name
        %span.action= link_to t('edit'), edit_open_type_font_otf_feature_path(@font, feature)
      .feature-lookups
        - feature.lookups.each do |lookup|
          - cache "lookup-#{lookup.id}" do
            %h3= link_to "#{lookup.name} : #{lookup.description}", lookup
            .lookup-table
              .edit
                = link_to "Edit", edit_otf_lookup_path(lookup)
                = link_to "Add rule", otf_lookup_path(lookup)
              %table
                - lookup.otf_lookup_rows.each do |row|
                  %tr.row{:id => "row#{row.id}"}
                    %td= link_to 'See', otf_lookup_otf_lookup_row_path(lookup, row)
                    - row.lookup_classes.each do |klass|
                      %td{:class => klass.kind}
                        - if klass.otf_class.name
                          %table
                            %tr
                              %td= link_to klass.otf_class.name, open_type_font_otf_class_path(lookup.font, klass.otf_class.name), :remote => true, :title => klass.otf_class.name
                        - else
                          %table
                            - klass.otf_class.otf_glyphs.each do |glyph|
                              %tr
                                %td= image_tag(glyph.name)
                                %td= glyph.name
                    %td= link_to 'Edit', edit_otf_lookup_otf_lookup_row_path(lookup, row)
                    %td= link_to 'Delete', otf_lookup_otf_lookup_row_path(lookup, row), :method => :delete, :remote => true
                    %td.user{:title => 'Засварласан'}= row.user

        
