= form_for @example, :remote => true do |f|
  %table
    %tr
      %td.mongolian= f.text_field :mongolian
      %td.cyrillic= f.text_field :cyrillic
      %td.glyphseq= f.text_field :glyphs
      %td{:colspan => 3}= f.submit "Save"
