%table
  %tr
    %td.mongolian= example.mongolian
    %td.cyrillic= example.cyrillic
    %td.glyphseq= example.glyphs
    %td.category= example.category_name
    %td.action= link_to t('edit'), edit_example_path(example), :remote => true
    %td.action= link_to t('destroy'), example, :confirm => t('are_you_sure'), :method => :delete, :remote => true
