!!!
%html
  %head
    %title Bichig
    = stylesheet_link_tag :all
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %ul#menu
      %li= link_to "Home", root_path, :class => 'current'
      - if user_signed_in?
        %li= link_to current_user.name, '#'
        %li= link_to "sign out", destroy_user_session_path  
      - else
        %li= link_to "sign up", new_user_registration_path
        %li= link_to "login", new_user_session_path

    .notice= notice
    .alert= alert
    #content= yield
    #footer
      #message 
        Та Монгол бичгийн дүрэм сайн мэдэхгүй, Open Type Font Feature
        талаар ойлголтгүй бол мэдээлэл устгах, засварлах үйлдэл 
        бүү хийгээрэй.
        %br
        Дэлгэрэнгүйг <a href="http://groups.google.com/group/mongol-bichgee-sergeeye/" target="_blank">http://groups.google.com/group/mongol-bichgee-sergeeye</a> хаягаас үзнэ үү